@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*  */
@layer base {
   body {
       font-family: 'Roboto', sans-serif;
    }
   
   .swiper-button-next , .swiper-button-prev {
      
       color: #ffb901!important;
       font-weight: 700;
        
       
   }

   .swiper-pagination-bullet {
       background-color: #ffb901!important;
   }

   @media screen and (max-width: 768px) {
    
    
       .swiper-button-next::after, 
    .swiper-button-prev::after {
        font-size: 18px !important; /* Change arrow size */
    }
   }
}